.header {
  background-color: #222;
  padding: 10px 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin: 0;
}

.logo-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}

.nav-links {
  flex-grow: 1;
  margin-left: 20px;
}

.nav-menu {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-menu li {
  margin-right: 15px;
}

.nav-menu a {
  color: #fff;
  text-decoration: none;
}

.nav-menu a:hover {
  text-decoration: underline;
}

.user-info {
  display: flex;
  align-items: center;
}

.auth-links {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.auth-links li {
  margin-left: 15px;
}

.auth-links a {
  color: #fff;
  text-decoration: none;
}

.auth-links a:hover {
  text-decoration: underline;
}

.logged-in-info {
  display: flex;
  align-items: center;
}

.username {
  margin-right: 15px;
}

.logout-button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
}

.logout-button:hover {
  text-decoration: underline;
}

.nav-menu .active-link {
  font-weight: bold;
  text-decoration: underline;
}